# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Cloudflare
.wrangler

# Logs
logs
*.log
pnpm-debug.log*

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

